body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fafafa;
  margin: 0;
}

a {
  text-decoration: none;
}

main, header {
  padding: 10px;
}

.alert {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  color: white;
}
.alert-success {
  border: green;
  background: #5cc512;
}
.alert-danger {
  border: #800;
  background: #c51212;
}

.m-t-none {
  margin-top: 0 !important;
}
.m-t-15 {
  margin-top: 15px;
}
.m-b-none {
  margin-bottom: 0 !important;
}
.m-l-none {
  margin-left: 0 !important;
}
.m-l-5 {
  margin-left: 5px;
}

.p-b-none {
  padding-bottom: 0 !important;
}
.p-l-8 {
  padding-left: 8px;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.c-m-lr-5 > * {
  margin-left: 5px;
  margin-right: 5px;
}

.flex {
  display: flex;
}
.f-w {
  flex-wrap: wrap;
}
.f-d-c {
  flex-direction: column;
}
.f-g-1 {
  flex-grow: 1;
}
.f-a-c {
  align-items: center;
}
.f-j-c {
  justify-content: center;
}
.f-j-sb {
  justify-content: space-between;
}
.f-j-fs {
  justify-content: flex-start;
}

.text-right {
  text-align: right;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: darkslategrey;
}

h1, h2, h3, h4, h5, h6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 input {
  font-size: 20px;
  position: relative;
  margin: 10px;
  padding: 2px;
}

.user-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: purple;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    margin: 10px 0 30px;
  }
}

.user-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: var(--deep-purple);
  color: white;
  border-radius: 10px;
  position: relative;

  fieldset {
    border-radius: 8px;
    padding: 0;
    display: flex;
    flex-direction: column;
    legend {
      margin: auto;
      font-weight: bold;
      font-size: 130%;
    }
    select {
      width: 90%;
      margin: 2% 5% 5%;
      box-sizing: border-box;
      font-size: 16px;
      padding: 10px;
      color: white;
      background: rgba(255,255,255,0.2);
      border: 1px solid white;
      border-radius: 5px;
    }
  }

  label.checkbox-label {
    padding: 0;
    font-size: 110%;
    text-align: center;
    span {
      cursor: pointer;
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 10px;
    }
    input[type="checkbox"]:checked ~ * {
      background: rgba(255,255,255,0.2);
    }

    input[type="checkbox"] {
      display: none;
    }
  }

  h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-right: 10px;
  }

  .user-form-field {
    margin-bottom: 20px;
    position: relative;
    display: flex;

    select {
      background: whitesmoke;
      max-width: min-content;
    }
    input, label, select {
      width: 100%;
      font-size: 18px;
      margin: 0 2px;
    }
    label {
      padding-left: 5px;
    }
    input, select {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    input[type="date"] {
      font-size: 16px;
    }
    input[type="submit"] {
      width: max-content;
      padding: 10px 30px;
      min-width: 200px;
      background-color: #4CAF50;
      color: #fff;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

header.top-header {
  background: var(--deep-purple);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 30px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    margin: 0;
    padding: 10px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: black;
  }

  .dropdown-menu-item {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }
}

header.top-header, .user-form {
  a, span {
    color: white;
    transition: all .5s;
  }

  a:hover, span:hover {
    color: var(--light-purple);
    text-shadow: var(--shine-5px)
  }

  nav {
    span, a {
      font-size: 18px;
      margin: 0 3px;
    }
  }
}

#user-bio {
  width: 100%;
  resize: vertical;
  height: max-content;
  min-height: 200px;
  box-sizing: border-box;
}
#profile-image-form, #add-image-form {
  display: none;
}
.profile-image { background: rgb(164, 209, 209) }
.user-profile, .user-index-profile {
  h2 {
    padding: 5px 15px 5px 5px;
    color: white;
    margin-bottom: 0;
    background: var(--deep-purple);
  }
}
.user-index-profile {
  img.profile-image {
    height: 200px;
  }
}
.user-profile {
  .signed_in {color: green}
  .signed_out {color: #cd1616}

  p {
    margin: 5px 0;
  }
  img.profile-image {
    width: 500px;
  }
  .delete-image-link {
    position: absolute;
    right: 4px;
    top: -4px;
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
  }
  .user-images {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 500px;
    padding: 6px 0 12px;
  }
  .profile-image-wrapper, .thumbnail-wrapper {
    position: relative;
  }
  .thumbnail-wrapper {
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .thumbnail-wrapper {
    height: 100px;
    width: min-content;
  }
  .user-picture {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    transition: all .1s;
  }
  .user-picture.expanded {
    height: 500px;
    top: -250px;
    position: absolute;
  }

  .details-table {
    th {
      width: 33%;
      text-align: left;
      padding-left: 8px;
    }
    th:nth-child(3) {
      width: 27%;
    }
    td {
      width: 40%;
      text-align: right;
      padding-right: 8px;
    }
    select {
      width: 100%;
    }
  }
  .status-table {
    th {
      width: 30%;
      text-align: left;
      padding-left: 8px;
    }
    td {
      text-align: right;
      padding-right: 8px;
      input {
        width: 100%;
      }
    }
    td:nth-child(2) {
      flex-grow: 1
    }
  }
}

.interest {
  color: #444;
  border: 1px solid;
  padding: 5px;
  margin: 2px 4px 2px 0;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.interest-category {
  font-weight: bold;
}

.truth_and_spirituality	{ background-color: hsl(38, 100%, 80%); color: hsl(38, 100%, 20%); border-color: hsl(38, 100%, 60%); }
.health_and_wellness	{ background-color: hsl(25, 100%, 80%); color: hsl(25, 100%, 20%); border-color: hsl(25, 100%, 60%); }
.rhythm_and_dancing	{ background-color: hsl(12, 100%, 80%); color: hsl(12, 100%, 20%); border-color: hsl(12, 100%, 60%); }
.community_service	{ background-color: hsl(360, 100%, 80%); color: hsl(360, 100%, 20%); border-color: hsl(360, 100%, 60%); }
.education_and_improvement	{ background-color: hsl(347, 100%, 80%); color: hsl(347, 100%, 20%); border-color: hsl(347, 100%, 60%); }
.music_and_the_arts	{ background-color: hsl(334, 100%, 80%); color: hsl(334, 100%, 20%); border-color: hsl(334, 100%, 60%); }
.food_and_cooking	{ background-color: hsl(321, 100%, 80%); color: hsl(321, 100%, 20%); border-color: hsl(321, 100%, 60%); }
.fitness_and_exercise	{ background-color: hsl(308, 100%, 80%); color: hsl(308, 100%, 20%); border-color: hsl(308, 100%, 60%); }
.family_and_parenting	{ background-color: hsl(295, 100%, 80%); color: hsl(295, 100%, 20%); border-color: hsl(295, 100%, 60%); }
.history_and_culture	{ background-color: hsl(282, 100%, 80%); color: hsl(282, 100%, 20%); border-color: hsl(282, 100%, 60%); }
.science_and_technology	{ background-color: hsl(270, 100%, 80%); color: hsl(270, 100%, 20%); border-color: hsl(270, 100%, 60%); }
.travel_and_adventure	{ background-color: hsl(257, 100%, 80%); color: hsl(257, 100%, 20%); border-color: hsl(257, 100%, 60%); }
.writing_and_literature	{ background-color: hsl(244, 100%, 80%); color: hsl(244, 100%, 20%); border-color: hsl(244, 100%, 60%); }
.photography_and_video	{ background-color: hsl(231, 100%, 80%); color: hsl(231, 100%, 20%); border-color: hsl(231, 100%, 60%); }
.outreach_and_evangelism	{ background-color: hsl(218, 100%, 80%); color: hsl(218, 100%, 20%); border-color: hsl(218, 100%, 60%); }
.nature_and_outdoor_activities	{ background-color: hsl(205, 100%, 80%); color: hsl(205, 100%, 20%); border-color: hsl(205, 100%, 60%); }
.sports_and_recreation	{ background-color: hsl(192, 100%, 80%); color: hsl(192, 100%, 20%); border-color: hsl(192, 100%, 60%); }
.financial_planning_and_management	{ background-color: hsl(180, 100%, 80%); color: hsl(180, 100%, 20%); border-color: hsl(180, 100%, 60%); }
.languages_and_linguistics	{ background-color: hsl(167, 100%, 80%); color: hsl(167, 100%, 20%); border-color: hsl(167, 100%, 60%); }
.storytelling_and_performance	{ background-color: hsl(154, 100%, 80%); color: hsl(154, 100%, 20%); border-color: hsl(154, 100%, 60%); }
.gardening_and_horticulture	{ background-color: hsl(141, 100%, 80%); color: hsl(141, 100%, 20%); border-color: hsl(141, 100%, 60%); }
.leadership_and_mentorship	{ background-color: hsl(128, 100%, 80%); color: hsl(128, 100%, 20%); border-color: hsl(128, 100%, 60%); }
.pet_care_and_animal_welfare	{ background-color: hsl(115, 100%, 80%); color: hsl(115, 100%, 20%); border-color: hsl(115, 100%, 60%); }
.crafts_and_hobbies	{ background-color: hsl(102, 100%, 80%); color: hsl(102, 100%, 20%); border-color: hsl(102, 100%, 60%); }
.ministry_and_missions	{ background-color: hsl(90, 100%, 80%); color: hsl(90, 100%, 20%); border-color: hsl(90, 100%, 60%); }
.sustainable_living_and_homesteading	{ background-color: hsl(77, 100%, 80%); color: hsl(77, 100%, 20%); border-color: hsl(77, 100%, 60%); }
.bible_study_and_theology	{ background-color: hsl(64, 100%, 80%); color: hsl(64, 100%, 20%); border-color: hsl(64, 100%, 60%); }
.natural_healing_and_therapies	{ background-color: hsl(51, 100%, 80%); color: hsl(51, 100%, 20%); border-color: hsl(51, 100%, 60%); }

.password-toggle-icon, .thumbnail-wrapper {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}

#overlay {
  opacity: 0;
  transition: opacity .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 777;
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: -10000px;
  left: 0;
}

.modal {
  border-radius: 10px;
  overflow: auto;
  padding: 5px 20px 30px;
  background: white;
  min-width: 400px;
  width: min-content;
  height: 70vh;
}
