body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fafafa;
  margin: 0;
}

main, header {
  padding: 10px;
}

.alert {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.alert-success {
  border: green;
  background: greenyellow;
  color: green;
}
.alert-danger {
  border: red;
  background: pink;
  color: red;
}

.m-b-none {
  margin-bottom: 0 !important;
}

.p-b-none {
  padding-bottom: 0 !important;
}

.f-jc {
  justify-content: center;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: darkslategrey;
}

.user-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: purple;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    margin: 10px 0 30px;
  }
}

.user-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: var(--deep-purple);
  color: white;
  border-radius: 10px;
  position: relative;

  h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .user-form-field {
    margin-bottom: 20px;
    position: relative;
    display: flex;

    select {
      background: whitesmoke;
      max-width: min-content;
    }
    input, label, select {
      width: 100%;
      font-size: 18px;
      margin: 0 2px;
    }
    label {
      padding-left: 5px;
    }
    input, select {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    input[type="date"] {
      font-size: 16px;
    }
    input[type="submit"] {
      width: 120px;
      padding: 10px;
      background-color: #4CAF50;
      color: #fff;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

header.top-header {
  background: var(--deep-purple);
  overflow: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 30px;
  }
}

header.top-header, .user-form {
  a {
    color: white;
    text-decoration: none;
    :hover {
      color: pink;
    }
  }

  nav {
    span {
      font-size: 18px;
      margin: 0 3px;
    }
  }
}
