body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fafafa;
  margin: 0;
}

main, header {
  padding: 10px;
}

.alert {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.alert-success {
  border: green;
  background: greenyellow;
  color: green;
}
.alert-danger {
  border: red;
  background: pink;
  color: red;
}

.m-t-none {
  margin-top: 0 !important;
}
.m-b-none {
  margin-bottom: 0 !important;
}

.c-m-lr-5 > * {
  margin-left: 5px;
  margin-right: 5px;
}

.p-b-none {
  padding-bottom: 0 !important;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}
.f-d-c {
  flex-direction: column;
}
.f-g-1 {
  flex-grow: 1;
}
.f-jc {
  justify-content: center;
}
.f-jsb {
  justify-content: space-between;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: darkslategrey;
}

.user-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: purple;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    margin: 10px 0 30px;
  }
}

.user-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: var(--deep-purple);
  color: white;
  border-radius: 10px;
  position: relative;

  h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-right: 10px;
  }

  .user-form-field {
    margin-bottom: 20px;
    position: relative;
    display: flex;

    select {
      background: whitesmoke;
      max-width: min-content;
    }
    input, label, select {
      width: 100%;
      font-size: 18px;
      margin: 0 2px;
    }
    label {
      padding-left: 5px;
    }
    input, select {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    input[type="date"] {
      font-size: 16px;
    }
    input[type="submit"] {
      width: max-content;
      padding: 10px 30px;
      min-width: 200px;
      background-color: #4CAF50;
      color: #fff;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

header.top-header {
  background: var(--deep-purple);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 30px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    margin: 0;
    padding: 10px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: black;
  }

  .dropdown-menu-item {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }
}

header.top-header, .user-form {
  a, span {
    color: white;
    text-decoration: none;
    transition: all .5s;
  }

  a:hover, span:hover {
    color: var(--light-purple);
    text-shadow: var(--shine-5px)
  }

  nav {
    span, a {
      font-size: 18px;
      margin: 0 3px;
    }
  }
}

.user-profile {
  h2 {
    padding: 5px 15px 5px 5px;
    color: white;
    margin-bottom: 0;
    background: var(--deep-purple);
    .signed_in {
      color: green
    }
    .signed_out {
      color: #cd1616
    }
  }
  p {
    margin: 5px 0;
  }
  img {
    width: 100%;
    min-width: 500px;
    max-width: 600px;
    background: rgb(164, 209, 209);
    border-radius: 5px;
  }
  .details-table {
    th {
      width: 33%;
      text-align: left;
      padding-left: 8px;
    }
    th:nth-child(3) {
      width: 27%;
    }
    td {
      width: 40%;
      text-align: right;
      padding-right: 8px;
    }
  }
  .status-table {
    th {
      width: 40%;
      text-align: left;
      padding-left: 8px;
    }
    td {
      text-align: right;
      padding-right: 8px;
    }
    td:nth-child(2) {
      flex-grow: 1
    }
  }
}
